.micolor {
    background: #595BA8;
    background: -moz-linear-gradient(left, #595BA8 0%, #8184E8 100%);
    background: -webkit-linear-gradient(left, #595BA8 0%, #8184E8 100%);
    background: linear-gradient(to right, #595BA8 0%, #8184E8 100%);
}


/*Tamaño carrusel*/

.micarrusel {
    width: 100%;
    max-height: 350px;
}

/*boton busqueda*/
.search {
    width: 100%;
    right: 20%;
    padding: 1%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 50%;
    border: 1px solid #595BA8;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #595BA8;
}

.searchButton {
    width: 30px;
    height: 30px;
    border: 1px solid #595BA8;
    background: #595BA8;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
}

.busqueda {
    width: 25%;
    left: 50%;
    padding: 10px;
}

.inicio-sesion {
    position: absolute;
    top: 20px;
    right: 73px;
}

.social {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

a.estado:hover, a.estado:active {
  background: rgb(209, 123, 213);
 
}

.carrito{

  color:rgb(255, 255, 255); 
  font-size: 30px;
  position: relative;
  bottom: 30%;
}

.lupa{

  color:rgb(255, 255, 255); 
  font-size: 20px;
  position: relative;
  right: 12px;
 bottom: 12px;
}

.contenido-principal{
margin: 30px;
}


/*FOOTER - redes sociales*/
    
    .derechos-reservados {
   display: flex;
  justify-content: center;
   background: #d6d4d4;
}


.navbar ul {

    margin: 0;
    list-style-type: none;
    text-align: center;
    font-size: 1em;
    
}

.navbar li {

    display: inline-block;
    padding: 5px;
  }

.navbar a {

    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: rgb(146, 144, 144);
}

.derechos-reservados1 {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255);
  color: rgb(146, 144, 144);
}

.derechos-reservados2 {
 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(89, 91, 168);
  color: rgb(229, 233, 239);
}


a.estado:hover,a.estado:active {
    background: rgb(209, 123, 213);
}
